.border-black {
  border: 1px solid black;
}

.main {
  transition: margin-left .5s;
  padding-top: 50px;
}

.item {
  margin: 10px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px -1px rgb(230,230,230);
  -moz-box-shadow:    0 0 10px -1px rgb(230,230,230);
  box-shadow:         0 0 10px -1px rgb(230,230,230);
}

.item textarea {
    border: 1px solid #ced4da47;
}

.navItem {
    position: relative;
}

.itemRight {
    position: absolute;
    right: 0;
    color: #818181;
}