.answer {
    margin-top: 5px;
}

.home-item {
    text-decoration: none;
    color: #111;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.P-0 {
    padding: 0 !important;
}

.P-B0 {
    padding-bottom: 0 !important;
}

.P-5 {
    padding: 5px !important;
}

.P-10 {
    padding: 10px !important;
}

.M-0 {
    margin: 0 !important;
}

.M-10 {
    margin: 10px !important;
}

.M-T10 {
    margin-top: 10px !important;
}

.M-B10 {
    margin-bottom: 10px !important;
}

.M-B15 {
    margin-bottom: 15px !important;
}

.M-B20 {
    margin-bottom: 20px !important;
}

.MH-180 {
    min-height: 180px !important;
}

button:focus {
  outline: none;
}

.i-spin {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.bootstrap-modal {
    background-color: #0000006e;
}